= form_for @subscriber, remote: true do |f|
  = f.text_field :name, placeholder: 'Name'
  = f.email_field :email, placeholder: 'Email Address'
  .right
    = f.submit subscribe_button_text, class: 'success button round'
